@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"),url("fonts/Montserrat-Black.woff") format("woff"),url("fonts/Montserrat-Black.ttf") format("truetype"),url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"),url("fonts/Montserrat-Bold.woff") format("woff"),url("fonts/Montserrat-Bold.ttf") format("truetype"),url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"),url("fonts/Montserrat-Regular.woff") format("woff"),url("fonts/Montserrat-Regular.ttf") format("truetype"),url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"),url("fonts/Montserrat-Light.woff") format("woff"),url("fonts/Montserrat-Light.ttf") format("truetype"),url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    color:black;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
::-moz-selection {
    background: #FFF498;
}
::selection {
    background: #FFF498;
}
::-moz-selection {
    background: #FFF498;
}
img::-moz-selection {
    background: transparent;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: #FFF498;
}
body {
    background-color: #0c0c0c;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat",sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.l-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 45px 5px rgba(0,0,0,0.85);
    overflow: hidden;
}
.l-wrapper {
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}
.l-side-nav {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: 0.35;
    z-index: 10;
}
@media (max-width: 1180px) {
    .l-side-nav {
        display: none;
    }
}
.l-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.l-section {
    position: absolute;
    width: 100%;
    height: 100%;
}
.device-notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0c0c0c;
    z-index: 12;
}
.device-notification--logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.device-notification--logo p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.device-notification--message {
    width: 70%;
    margin: 30px 0 0;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (max-width: 736px) and (min-width: 360px) and (orientation: landscape) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media(max-width: 359px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease-in-out,visibility 0s 0.4s;
    transition: opacity 0.4s ease-in-out,visibility 0s 0.4s;
}
.section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity 0.4s ease-in-out 0.4s;
    transition: opacity 0.4s ease-in-out 0.4s;
}
.section--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.section--prev {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 10;
}
.header--logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.header--logo p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.header--nav-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.header--nav-toggle span,
.header--nav-toggle::after,
.header--nav-toggle::before {
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #fff;
}
.header--nav-toggle::before {
    bottom: 5px;
    width: 23px;
}
.header--nav-toggle::after {
    top: 5px;
    width: 23px;
}
.header--cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0f33ff;
    border: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease-in-out,visibility 0s 0.4s;
    transition: opacity 0.4s ease-in-out,visibility 0s 0.4s;
}
.header--cta:focus {
    outline: none;
}
.header--cta.is-active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.4s ease-in-out 0.4s;
    transition: opacity 0.4s ease-in-out 0.4s;
}
@media (max-width: 767px) {
    .header--cta {
        display: none;
    }
}
.side-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10;
}
.side-nav > li {
    position: relative;
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer;
}
.side-nav > li span {
    position: relative;
    top: 3px;
    left: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    visibility: hidden;
}
.side-nav > li::before {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 300;
}

/*where side-nav magics is at*/
.side-nav li:nth-child(1)::before {
    content: "01";
}
.side-nav li:nth-child(2)::before {
    content: "02";
}
.side-nav li:nth-child(3)::before {
    content: "03";
}
.side-nav li:nth-child(4)::before {
    content: "04";
}

.side-nav li:nth-child(5)::before {
    content: "05";
}

.side-nav li:nth-child(6)::before {
    content: "06";
}
/*
.side-nav li:nth-child(7)::before {
    content: "07";
}

*/
.side-nav li.is-active {
    color: #0f33ff;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}
.side-nav li.is-active span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.side-nav li.is-active::before {
    left: -33px;
    color: #fff;
}
.intro {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 1180px) {
    .intro {
        max-width: 100%;
    }
}
.intro--banner {
    position: relative;
    height: 475px;
}
.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #282828;
}
.intro--banner::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: #0f33ff;
}
.intro--banner h1 {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
}
.intro--banner button {
    position: relative;
    padding: 5px 17px 5px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
.intro--banner button .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: #0f33ff;
    z-index: -1;
    -webkit-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}
.intro--banner button:hover .btn-background {
    left: 0;
}
.intro--banner button:focus {
    outline: none;
}
.intro--banner button svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff;
}
.intro--banner img {
    position: absolute;
    bottom: 21px;
    right: -12px;
}
.intro--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.intro--options > a {
    max-width: 250px;
    text-decoration: none;
    color: #282828;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.intro--options > a:hover {
    color: #fff;
}
.intro--options h3 {
    font-size: 16px;
    text-transform: uppercase;
}
.intro--options p {
    margin-bottom: 0;
}
@media (max-width: 900px) {
    .intro--banner {
        height: 380px;
    }
    .intro--banner h1 {
        font-size: 55px;
    }
    .intro--banner img {
        width: 430px;
    }
    .intro--options > a {
        margin-right: 30px;
    }
    .intro--options > a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    .intro--banner {
        height: 305px;
    }
    .intro--banner h1 {
        font-size: 44px;
    }
    .intro--banner img {
        width: 330px;
    }
    .intro--options {
        display: block;
    }
    .intro--options > a {
        display: block;
        max-width: 100%;
        margin: 0 0 30px;
    }
    .intro--options > a:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 600px) {
    .intro--banner {
        height: 20%;
    }
    .intro--banner h1 {
        font-size: 35px;
    }
    .intro--banner img {
        width: 60%;
    }
}
@media (max-width: 600px) and (max-height: 750px) {
    .intro--banner {
        height: auto;
    }
    .intro--banner::after,
    .intro--banner::before {
        display: none;
    }
    .intro--banner h1 {
        margin-top: 0;
    }
    
}
.work {
    
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    max-width: 80%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 1180px) {
    .work {
        max-width: 100%;
    }
}
.work h2 {
    margin: 0 0 20px;
    font-size: 30px;
    text-align: center;
}
.work--lockup {
    position: relative;
}
.work--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.work--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center;
}
.work--lockup .slider--item a {
    text-decoration: none;
    color: #858585;
}
.work--lockup .slider--item-title {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.work--lockup .slider--item-description {
    display: none;
    max-width: 250px;
    margin: 0 auto;
}
.work--lockup .slider--item-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.work--lockup .slider--item-image img {
    width: 100%;
}
.work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}
.work--lockup .slider--item-right {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}
.work--lockup .slider--item-center {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
}
.work--lockup .slider--item-center a {
    color: #fff;
}
.work--lockup .slider--item-center .slider--item-title {
    margin-top: 25px;
    font-size: 16px;
}
.work--lockup .slider--item-center .slider--item-description {
    display: block;
}
.work--lockup .slider--item-center .slider--item-image {
    width: 300px;
    height: 300px;
}
.work--lockup .slider--next,
.work--lockup .slider--prev {
    position: absolute;
    top: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #282828;
    border-radius: 50%;
    cursor: pointer;
}
.work--lockup .slider--next svg,
.work--lockup .slider--prev svg {
    width: 20px;
    fill: #fff;
}
.work--lockup .slider--next {
    right: 0;
}
.work--lockup .slider--prev {
    left: 0;
}
@media (max-width: 900px) {
    .work--lockup .slider--item-image {
        width: 120px;
        height: 120px;
    }
    .work--lockup .slider--item-center .slider--item-image {
        width: 240px;
        height: 240px;
    }
    .work--lockup .slider--next,
    .work--lockup .slider--prev {
        top: 130px;
    }
}
@media (max-width: 767px) {
    .work--lockup .slider {
        width: 75%;
    }
    .work--lockup .slider--item-image {
        width: 90px;
        height: 90px;
    }
    .work--lockup .slider--item-center .slider--item-image {
        width: 190px;
        height: 190px;
    }
    .work--lockup .slider--next,
    .work--lockup .slider--prev {
        top: 105px;
    }
}
@media (max-width: 600px) {
    .work--lockup .slider {
        width: auto;
    }
    .work--lockup .slider--item-left,
    .work--lockup .slider--item-right {
        display: none;
    }
}
.about {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 1180px) {
    .about {
        max-width: 100%;
    }
}
.about--banner {
    position: relative;
    height: 45%;
}
.about--banner::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 200px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    border: 5px solid #0f33ff;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.about--banner::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 400px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #0f33ff;
}
.about--banner h2 {
    position: relative;
    margin-top: 35px;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
}
.about--banner h2::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 268px;
    width: 30px;
    height: 30px;
    background-color: #0f33ff;
    border-radius: 50%;
}
.about--banner h2::after {
    content: "";
    position: absolute;
    top: 255px;
    left: 255px;
    width: 10px;
    height: 10px;
    background-color: #0f33ff;
}
.about--banner a {
    padding: 5px 17px 5px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
}
.about--banner a:hover svg {
    left: 10px;
}
.about--banner a svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff;
    -webkit-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}
.about--banner img {
    position: absolute;
    bottom: -90px;
    right: -12px;
}
.about--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}
.about--options > a {
    position: relative;
    width: 150px;
    height: 75px;
    text-decoration: none;
    color: #fff;
    border: 10px solid #0f33ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about--options > a:nth-child(1) {
    background-image: url("../img/about-winners.webp");
}
.about--options > a:nth-child(2) {
    background-image: url("../img/about-philosophy.webp");
}
.about--options > a:nth-child(3) {
    background-image: url("../img/about-history.webp");
}
.about--options > a:hover h3 {
    bottom: -50px;
}
.about--options h3 {
    margin-top: 70px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: bottom 0.2s ease-in-out,left 0.2s ease-in-out;
    transition: bottom 0.2s ease-in-out,left 0.2s ease-in-out;
}
@media (max-width: 767px) {
    .about--banner {
        height: 305px;
    }
    .about--banner::before {
        top: 0;
        left: 125px;
    }
    .about--banner::after {
        top: 35px;
        left: 260px;
    }
    .about--banner h2 {
        margin-top: 5px;
        font-size: 44px;
    }
    .about--banner h2::before {
        top: 28px;
        left: 168px;
    }
    .about--banner h2::after {
        top: 163px;
        left: 163px;
    }
    .about--banner img {
        width: 315px;
    }
}
@media (max-width: 600px) {
    .about--banner {
        height: auto;
    }
    .about--banner::before {
        left: 155px;
    }
    .about--banner::after {
        left: 310px;
    }
    .about--banner h2 {
        margin-top: 0;
        font-size: 55px;
    }
    .about--banner h2::before {
        top: 43px;
        left: 214px;
    }
    .about--banner h2::after {
        top: 205px;
        left: 205px;
    }
   
    .about--options a{
       margin-top:50px;
       margin: 3px;
       border: 8px solid #0f33ff ;
       
    }

}
.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/contact-visual.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact--lockup {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 auto;
}
@media (max-width: 1180px) {
    .contact--lockup {
        max-width: 90%;
    }
}
@media (max-width: 767px) {
    .contact--lockup {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.contact--lockup .modal {
    padding: 45px;
    text-align: center;
    background-color: #0c0c0c;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
}
.contact--lockup .modal--information a,
.contact--lockup .modal--information p {
    display: block;
    margin: 14px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.contact--lockup .modal--information p {
    margin-top: 0;
}
.contact--lockup .modal--options {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact--lockup .modal--options > li {
    width: 130px;
    margin: 0 auto 25px;
}
.contact--lockup .modal--options li:nth-child(1) {
    background-color: #1769ff;
}
.contact--lockup .modal--options li:nth-child(2) {
    background-color: #ea4c89;
}
.contact--lockup .modal--options li:nth-child(3) {
    margin-bottom: 0;
    background-color: #0f33ff;
    text-transform: uppercase;
}
.contact--lockup .modal--options a {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.hire {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 1180px) {
    .hire {
        max-width: 100%;
    }
}
.hire h2 {
    margin: 0 0 20px;
    font-size: 30px;
    text-align: center;
}
.work-request {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}
.work-request input[type="submit"] {
    width: 400px;
    max-width: 100%;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0f33ff;
    border: none;
    border-radius: 0;
}
.work-request input[type="submit"]:focus {
    outline: none;
}
.work-request--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0;
}
.work-request--options .options-a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.work-request--options .options-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 72%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.work-request--options label {
    display: block;
    width: 200px;
    margin-bottom: 30px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #fff;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out,border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out,border-color 0.2s ease-in-out;
}
.work-request--options label svg {
    position: relative;
    left: -5px;
    width: 0;
    fill: #fff;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
.work-request--options input[type="checkbox"] {
    display: none;
}
.work-request--options input[type="checkbox"]:checked+label {
    background-color: #0f33ff;
    border-color: #0f33ff;
}
.work-request--options input[type="checkbox"]:checked+label svg {
    width: 15px;
}
.work-request--information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
}

.work-request--information .information-email,
.work-request--information .information-name {
    position: relative;
    width: 45%;
    height: 50px;
    font-size: 30px;
    font-weight: 300;
    border-radius: 3px;
}
.work-request--information input[type="text"],
.work-request--information input[type="email"] {
    width: 100%;
    padding: 0 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
.work-request--information input[type="text"]:focus,
.work-request--information input[type="email"]:focus {
    outline: none;
    background-color: #0c0c0c;
}
.work-request--information label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: top 0.2s ease-in-out,font-size 0.2s ease-in-out;
    transition: top 0.2s ease-in-out,font-size 0.2s ease-in-out;
}
.work-request--information input.has-value+label,
.work-request--information input:focus+label {
    top: -15px;
    font-size: 14px;
}
@media (max-width: 767px) {
    .work-request--options {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .work-request--options .options-a,
    .work-request--options .options-b {
        display: block;
        width: auto;
    }
}
@media (max-width: 600px) {
    .work-request--options {
        margin: 20px 0;
    }
}
@media (max-width: 600px) and (max-width: 415px) {
  
   
    .work-request--options {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .work-request--options label {
        width: 150px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .work-request--options input[type="checkbox"]:checked+label svg {
        width: 12px;
    }
    .work-request--information {
        margin-bottom: 30px;
    }
    .work-request--information .information-email,
    .work-request--information .information-name {
        height: 40px;
        font-size: 24px;
        border-radius: 3px;
    }

}
.perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.perspective--modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}
.container {
    position: relative;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
    transform: translateZ(0) translateX(0) rotateY(0deg);
    min-height: 100%;
    outline: 30px solid #0f33ff;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.modalview .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.effect-rotate-left .container {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.effect-rotate-left--animate .container {
    -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    outline: 30px solid #0f33ff;
}
.outer-nav {
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.2s;
    transition: visibility 0s 0.2s;
}
.outer-nav.is-vis {
    visibility: visible;
}
.outer-nav--return {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11;
}
.outer-nav--return.is-vis {
    display: block;
}
.outer-nav > li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(350px) translateZ(-1000px);
    transform: translateX(350px) translateZ(-1000px);
    font-size: 55px;
    font-weight: 900;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.2s,-webkit-transform 0.2s;
    transition: opacity 0.2s,-webkit-transform 0.2s;
    transition: transform 0.2s,opacity 0.2s;
    transition: transform 0.2s,opacity 0.2s,-webkit-transform 0.2s;
}
.outer-nav > li.is-vis {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    opacity: 1;
    -webkit-transition: opacity 0.4s,-webkit-transform 0.4s;
    transition: opacity 0.4s,-webkit-transform 0.4s;
    transition: transform 0.4s,opacity 0.4s;
    transition: transform 0.4s,opacity 0.4s,-webkit-transform 0.4s;
}
.outer-nav > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    width: 110%;
    height: 15px;
    opacity: 0;
    background-color: #0f33ff;
}
.outer-nav > li.is-active::before {
    opacity: 1;
}
@media (max-width: 767px) {
    .outer-nav > li {
        font-size: 44px;
    }
}
@media (max-width: 600px) {
    .outer-nav > li {
        font-size: 34px;
    }
}
.outer-nav li.is-vis:nth-child(2) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
}
.outer-nav li.is-vis:nth-child(3) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}
.outer-nav li.is-vis:nth-child(4) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}
.outer-nav li.is-vis:nth-child(5) {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}
/*terminal*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);



#terminal{
    color:#00ffbf !important;
    margin-left:auto;
    margin-right:auto;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    width:400px;
    font-family: 'Droid Sans';
  		font-weight: bold;
		text-transform: uppercase;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit; 
  font-size: 1em;
		letter-spacing: 0.15em;
		white-space: pre-wrap;
		line-height: 200%;
		margin-bottom: 0.75em;
}
A,.highlight{
  color: #ff0000;
}

.ERROR{
    color: #ff0000;
font-family: 'Droid Sans';
  font-size: 15em;
  position: absolute;
  top: 50%;
  left: 50%;

}



/**************/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }


  /*************************************/


.body-stars{
    
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden
        
      }
      #stars-group1 {
        width: 1px;
        height: 1px;
        background: transparent;
        animation: starsAnimation  190s linear infinite;
      }
      
      
      
      #stars-group2 {
        width: 2px;
        height: 2px;
        background: transparent;
        animation: starsAnimation  100s linear infinite;
      }
      
      
      #stars-group3 {
        width: 3px;
        height: 3px;
        background: transparent;
        animation: starsAnimation  80s linear infinite;
      }
      
      
      @-webkit-keyframes starsAnimation  {
        from {
          -webkit-transform: translateY(0px);
        }
        to {
          -webkit-transform: translateY(-2000px);
        }
      }
      @keyframes starsAnimation {
          from {
              transform: translateY(0px);
          }
          to {
              transform: translateY(-2000px);
          }
      }



      /*****skills stars********/
    
  
   
.space-skills {
    height: 100%;
    max-width: 100%;
    margin: 0;
    background: rgba(0,10,20,1) url("https://i.imgur.com/r838U7u.jpg") center no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    font-family: sans-serif;
}

#warp {
    position: absolute;
    z-index: 9;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: 20px auto;
    color: rgba(209, 255, 255,1);
    border: 2px solid;
    padding: 1em;
    width: 10em;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    background: rgba(0,0,0,0.8);
}
#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  position:absolute;
  top:0;
  right:10%;
  margin:90vh 0;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.3
}
#btn-twtr:hover{
    color:#fff;opacity:1
}
.skills{
    text-align:center;
    
}
.form-flex{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
}
.send-form{
   
    --color: #fff;
  --bg-color: black;
  --button-font-size: 1rem;
    
text-transform: uppercase;
text-decoration: none;
background-color: var(--bg-color);
border: 0.15em solid var(--color);
color: var(--color);
padding: 0.6em 1em;
border-radius: 0.25em;
text-shadow: 0 0 0.5em;
box-shadow: 0 0 0.7em 0, inset 0 0 0.4em 0;
display: inline-block;
position: relative;
transition: all 0.4s ease;
letter-spacing: 0.15em;
   

}
.stage {
    display: grid;
    place-items: center;
    background: var(--bg-color);
  }



.send-form:before,
.send-form:focus:before {
pointer-events: none;
content: "";
position: absolute;
inset: 0;
top: 150%;
background: var(--color);
width: 100%;
height: 100%;
transform: perspective(3em) rotateX(80deg);
filter: blur(1em);
opacity: 0.7;
transition: all 0.8s ease;
}

.send-form:hover,
.send-form:focus {
outline: 0;
background: var(--color);
color: var(--bg-color);
box-shadow: 0 0 1em 0.2em var(--color);
text-shadow: none;
}

.send-form:hover:before,
.send-form:focus:before {
opacity: 1;
transform: perspective(2.6em) rotateX(80deg);
}

.textarea-submit{
    margin-top: 30px;
    padding: 6px;
    border-radius: 20px;
}
.message-h1{
    text-align: center;
    display: table-cell;
    filter: blur(0.5px);
    color: #fff;
    text-shadow: 0px 0px 10px #0f33ff,
        0px 0px 20px #0f33ff,
        0px 0px 40px #0f33ff,
        0px 0px 80px #0f33ff,
        0px 0px 120px #0f33ff;
    text-transform: uppercase;


}

.your-name input::placeholder, .your-email input::placeholder {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-weight: bold;
    text-transform: uppercase;
  }

  .glitch {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite; 
    font-size: 35px !important;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
    
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00a6ff, -0.03em -0.04em 0 #0f33ff,
        0.025em 0.04em 0 #00ffbf;
    }
    15% {
      text-shadow: 0.05em 0 0 #00a6ff, -0.03em -0.04em 0 #0f33ff,
        0.025em 0.04em 0 #00ffbf;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00a6ff, 0.025em 0.035em 0 #0f33ff,
        -0.05em -0.05em 0 #00ffbf;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00a6ff, 0.025em 0.035em 0 #0f33ff,
        -0.05em -0.05em 0 #00ffbf;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00a6ff, 0.03em 0 0 #0f33ff,
        0 -0.04em 0 #00ffbf;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00a6ff, 0.03em 0 0 #0f33ff,
        0 -0.04em 0 #00ffbf;
    }
    100% {
      text-shadow: -0.05em 0 0 #00a6ff, -0.025em -0.04em 0 #00ffbf,
        -0.04em -0.025em 0 #00ffbf;
    }
  }
  



/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 1em 0;
    list-style-type: none;
    color:#090A0F;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color:#0f33ff;
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #0f33ff;
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.75em;
    color: #878787;
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    color:#ffffff;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -25px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid;
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
  @media screen and (min-width: 400px) and ( max-width: 660px) {
  
  .direction-l .desc,
  .direction-r .desc {
     color:#000;
  }
  
  }

  



  .temizle {
    clear: both;
}

#coding-machine {
    width: 100%;
    max-width: 800px;
    margin: 5px auto 5px auto;
    opacity: 0.9;
    text-align: left;
}

#ust {
    background: #74747499;
    height: 30px;
    line-height: 30px;
    border-radius: 15px 15px 0 0;
    padding-right: 10px;
    padding-left: 14px;
}

#baslik {
    display: inline-block;
    color: rgb(255, 255, 255);
}

#circles {
    float: right;
}

#exit-circle {
    background: #ffffff;
    border: 3px solid #0f33ff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 2px;
}




#numbers-terminal {
    width: 41px;
    background: #263238a5;
    text-align: right;
    padding: 7px 10px 10px 0;
    float: left;
    color: #cdd3de;
}

.numara {
    display: block;
}

#inside-skill-terminal {
    background: #1B2225;
    color: #cdd3de;
    display: inline-block;
    padding: 7px 10px;
    width: calc(100% - 41px);
}

.comment-terminal {
    margin-top: 25%;
    color: #5cac6a;
    font-weight: 400;
    display: block;
}

.comment-terminal a {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: aquamarine;
    font-weight: 400;
    font-style: italic;
}

.cl {
    color: #8EDCF5;
}

.id {
    color: #F3A5F7;
}

.beyaz {
    color: #cccccc;
}

.css-terminal {
    color: #ffff67;
}
.css-decl-terminal{
    color:#60bbeb;
}

.text-terminal {
    color: #FFFFFF;
}

.terminal-footer {
    color:#ffffff;
}

.onemli {
    color: #FFA9A9;
    font-style: italic;
}

#alt {
    background: #74747499;;
    height: 30px;
    line-height: 30px;
    border-radius: 0 0 15px 15px;
    padding-right: 10px;
    text-align: center;
}

#alt a {
    margin-left: 5px;
    border-bottom: 1px dotted;
    text-decoration: none;
    color: #213738;
}


